.footer {
  background: #111;
  color: white;

  text-align: center;
  padding: 25px 10px;
  margin-top: 50px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 15px;
}

.footer-links a:hover {
  color: #00bcd4;
}

/* Mobile */
@media (max-width: 600px) {
  .footer-links a {
    display: block;
    margin: 8px 0;
  }
}
